[Unit]
Description=Zuul Scheduler Service
After=syslog.target network.target

[Service]
Type=simple
Group=zuul
User=zuul
ExecStart=/usr/local/bin/zuul-scheduler -d
ExecStop=/usr/local/bin/zuul-scheduler stop
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
